<h1> Book Form</h1>
<div class="col-md-12 signup">
<form action="/book/add" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Enter Book Title">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Author</label>
    <input type="text" name="author" class="form-control" >
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Published Date</label>
    <input type="number" name="published" class="form-control">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Language</label>
    <input type="text" name="language" class="form-control">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" name="description" class="form-control">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Date updated</label>
    <input type="text" name="updatedDate" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>