<h2>PORTFOLIO</h2>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('nature')"> Nature</button>
  <button class="btn" onclick="filterSelection('sweet')"> Sweet</button>
  <button class="btn" onclick="filterSelection('funny')"> Funny</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="/images/einhorn.jpeg" alt="Mountains" style="width:100%">
      <h4>Cookies</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/images/einhorn2.jpeg" alt="Lights" style="width:100%">
      <h4>Stars</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/images/einhorn3.jpeg" alt="Nature" style="width:100%">
      <h4>Face</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column cars">
    <div class="content">
      <img src="/images/abc.jpg" alt="sweet" style="width:100%">
      <h4>Happy</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="/images/abcd3.jpg" alt="sweet" style="width:100%">
      <h4>Delicious</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="/images/abcd4.jpeg" alt="sweet" style="width:100%">
      <h4>Diat</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="/images/abc4.jpg" alt="funny" style="width:100%">
      <h4>Sweets</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="/images/abc4.jpeg" alt="funny" style="width:100%">
      <h4>Dick</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="/images/abcd5.jpg" alt="funny" style="width:100%">
      <h4>Fairy</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>